body {
  background-color: #fafafa;

  .main-container {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px;

    @media (max-width: 997px) {
      margin: 0 auto;
      width: 100%;
      box-shadow: none;
    }

    .section-item {
      padding-bottom: 20px;
      .section-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .row-section {
      padding-bottom: 20px;
      border-bottom: 1px solid lightgray;
    }
  }
}

.dp-container {
  padding: 10px 25px;
}


