{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
  Zerong Tony Wang
{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block body_content %}
  <div class="container main-container z-depth-3">
    <div class="row">
      <div class="col s12 center-align">
        <a target="_blank" href="https://www.linkedin.com/in/zerongtonywang/">LinkedIn</a>
        | <a target="_blank" href="https://github.com/s4291158">GitHub</a>
        | <a target="_blank" href="https://twitter.com/ZerongTonyWang">Twitter</a>
        {% block extra_links %}{% endblock %}
      </div>
    </div>

    <div class="row row-section row-intro">
      <div class="col m3">
        <div class="dp-container">
          <img class="responsive-img circle" src="{% static 'img/square.png' %}">
        </div>
      </div>
      <div class="col m9">
        <h3>Zerong Tony Wang</h3>
        <h5 class="grey-text lighten-2">Software Engineer | Full Stack Developer</h5>
        <a href="mailto:zerongtonywang@gmail.com?Subject=Intro">zerongtonywang@gmail.com</a>
      </div>
    </div>

    <div class="row row-section">
      <div class="col m3">
        <h5>Summary</h5>
      </div>
      <div class="col m9">
        <p>
          Software engineer packed with startup experiences specialising in product development, growth and management.
        </p>
      </div>
    </div>

    <div class="row row-section hide">
      <div class="col m3">
        <h5>Skills</h5>
      </div>
    </div>
    <div class="row row-section hide">
      <div class="col m3">
        <h5>Tech</h5>
      </div>
    </div>
    <div class="row row-section">
      <div class="col m3">
        <h5>Experience</h5>
      </div>
      <div class="col m9">
        <div class="section-item">
          <h6 class="section-title">Full Stack Developer - iRecruit Australia</h6>
          <span>May 2016 - February 2017</span>
          <ul class="browser-default">
            <li>
              Core backend developer for all 3 MVP products with the largest serving more than 40 endpoints
            </li>
            <li>
              Lead and participated in small team to build product backend, using python, django, and postgresql
            </li>
            <li>
              Contributed to frontend development in react.js
            </li>
            <li>
              SCRUM, agile, and test driven development
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m3">
        <h5>Projects</h5>
      </div>
      <div class="col m9">
        <div class="section-item">
          <h6 class="section-title">parking4uni</h6>
          <p>
            Platform aimed to increase parking availability around UQ by enabling nearby residents to rent out their
            available spaces.
          </p>
          <ul class="browser-default">
            <li>Rallied two other team members</li>
            <li>Built MVP with another software engineer</li>
            <li>Arranged media exposure: news article & radio segment</li>
            <li>Worked on addressing legality concerns</li>
          </ul>
        </div>

        <div class="section-item">
          <a target="_blank" href="https://github.com/s4291158/dota2-lounge-analysis">
            <h6 class="section-title">dota2-lounge-analysis</h6>
          </a>
          <p>
            Analysis on past performances of esport teams to predict their odds of winning, compared
          </p>
          <ul class="browser-default">
            <li>Joined by two other team members</li>
            <li>Built MVP</li>
            <li>Media attention: article and radio segment</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}