{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_extra %}
  <meta name="description"
        content="Startup oriented developer with a focus on software product development, growth and management.">
{% endblock %}

{% block head_title %}
  Zerong Tony Wang
{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block body_content %}
  <div class="container main-container z-depth-3">
    <div class="row">
      <div class="col s12 center-align">
        <a target="_blank" href="https://www.linkedin.com/in/zerongtonywang/"><span>
          LinkedIn
        </span></a>
        | <a target="_blank" href="https://github.com/s4291158"><span>
          GitHub
        </span></a>
        | <a target="_blank" href="https://twitter.com/ZerongTonyWang"><span>
          Twitter
        </span></a>
      </div>
    </div>

    <div class="row row-section row-intro">
      <div class="col m3 s12">
        <div class="dp-container">
          <img class="responsive-img circle" src="{% static 'img/square.png' %}">
        </div>
      </div>
      <div class="col m9 s12">
        <h3>Zerong Tony Wang</h3>
        <h5 class="grey-text lighten-2 flow-text">Software Engineer | Full Stack Developer</h5>
        <a href="mailto:zerongtonywang@gmail.com?Subject=Intro"><span class="flow-text">
          zerongtonywang@gmail.com
        </span></a>
      </div>
    </div>

    <div class="row row-section">
      <div class="col m3 s12">
        <h5>Summary</h5>
      </div>
      <div class="col m9 s12">
        <p class="flow-text">
          Startup oriented developer with a focus on software product development, growth and management.
        </p>
        <ul class="browser-default hide">
          <li>2 years participating in startup scene</li>
          <li>15+ Hackathons / Startup weekends attended</li>
        </ul>
      </div>
    </div>

    <div class="row row-section">
      <div class="col m3 s12">
        <h5>Skills</h5>
      </div>

      <div class="col m3 s12">
        <h6 class="section-title">Code</h6>
        <ul>
          <li>Python</li>
          <li>Javascript</li>
          <li>Java</li>
        </ul>
      </div>


      <div class="col m3 s12">
        <h6 class="section-title">Tech</h6>
        <ul>
          <li>Amazon Web Services</li>
          <li>SQL databases</li>
          <li>Linux & shell scripts</li>
          <li>Multiplayer Git</li>
        </ul>
      </div>
    </div>
    <div class="row row-section">
      <div class="col m3 s12">
        <h5>Experience</h5>
      </div>
      <div class="col m9 s12">
        <div class="section-item">
          <h6 class="section-title">Full Stack Developer - Contracting</h6>
          <span>2017.2 - Current</span>
          <ul class="browser-default">
            <li>
              Consulting
            </li>
            <li>
              Scripting & automation
            </li>
            <li>
              Personal / business websites
            </li>
            <li>
              Full project development
            </li>
          </ul>
        </div>

        <div class="section-item">
          <h6 class="section-title">Software Engineer - iRecruit Australia</h6>
          <span>2016.5 - 2017.2</span>
          <ul class="browser-default">
            <li>
              Core backend developer for all 3 MVP products with the largest serving more than 40 endpoints
            </li>
            <li>
              Lead and participated in small team to build product backend, using Python, Django, and Postgresql
            </li>
            <li>
              Contributed to frontend development in ReactJS
            </li>
            <li>
              SCRUM, agile, and test driven development
            </li>
          </ul>
        </div>

        <div class="section-item">
          <h6 class="section-title">Tech Intern - ilab UQ</h6>
          <span>2015.12 - 2016.3</span>
          <ul class="browser-default">
            <li>
              Full stack developer for two MVPs (one Java, one Python)
            </li>
            <li>
              Content marketing & SEO
            </li>
            <li>
              Advised startup companies on business model and finding product market fit
            </li>
          </ul>
        </div>

        <div class="section-item">
          <h6 class="section-title">Marketing Intern - Ambi Enterprises</h6>
          <span>2015.3 - 2015.7</span>
          <ul class="browser-default">
            <li>
              Social media management
            </li>
            <li>
              Marketing material design
            </li>
            <li>
              Event management for launch party, efforts include chasing sponsors, event promotion, etc
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row row-section">
      <div class="col m3 s12">
        <h5>Projects</h5>
      </div>
      <div class="col m9 s12">
        <div class="section-item">
          <h6 class="section-title">Study of social psychology and virality</h6>
          <span class="grey-text">Current</span>
          <p>
            Inspired by the books <i>Contagious</i> and <i>Influence</i>, this project aims to apply social psychology
            knowledge and practices to content distribution.
          </p>
          <ul class="browser-default">
            <li>Building frontend with React</li>
            <li>Setting up slightly more complex AWS infrastructure than used to</li>
            <li>Aiming for high exposure</li>
            <li>Content creation or arrangement</li>
          </ul>
        </div>

        <div class="section-item">
          <a target="_blank" href="https://github.com/s4291158/QAaggregator">
            <h6 class="section-title">Study of answer popularity on Quora</h6>
          </a>
          <p>
            The reception of a given answer on Quora mostly does not match its input effort due to other popularity
            factors. The project aimed optimise effort-to-views on my answers by discovering promising questions using
            range of popularity indicators.
          </p>
          <ul class="browser-default">
            <li>Handled periodically scraping, processing and storing of large amount of answer data</li>
            <li>Reverse engineered Quora's client side authentication mechanism</li>
            <li>Designed experiments to validate correlations between data sets</li>
          </ul>
        </div>

        <div class="section-item">
          <a target="_blank" href="https://github.com/s4291158/dota2-lounge-analysis">
            <h6 class="section-title">Study of betting on DOTA2 lounge</h6>
          </a>
          <p>
            Esports betting can be uneducated, people who make bets consider very little of the factors that impact team
            performance. The project aimed to prove the hypothesis - <i>In any given match, a team is considered
            under/over valued based on their betting odds (expectation) compared to their performance rating(actual),
            therefore there could exist a model capable of exploiting the differences.</i>
          </p>
          <ul class="browser-default">
            <li>Handled scraping, processing and storing of data on 14000+ matches played</li>
            <li>Determined rating model to accurately assess teams and their performances</li>
            <li>Determined betting model to exploit over/under valued teams, capable of breaking even</li>
          </ul>
        </div>

        <div class="section-item">
          <a target="_blank" href="https://github.com/s4291158/trump">
            <h6 class="section-title">Is trump going to be president?</h6>
          </a>
          <p>
            For shits and giggles, the site allowed users to see a random sarcastic comment about Donald Trump becoming
            president, they can also add their own comment to the random pool. The project aimed to assess my ability to
            build and deploy a simple interactive website, as well as assessing my ability to distribute interesting
            content.
          </p>
          <ul class="browser-default">
            <li>Distribution resulted in 105K views & 27K users in first 24 hours</li>
            <li>Custom built & deployed website using Django, nginx, and gunicorn</li>
          </ul>
        </div>

        <div class="section-item">
          <h6 class="section-title">parking4uni</h6>
          <p>
            Platform aimed to increase parking availability around UQ by enabling nearby residents to rent out their
            available spaces.
          </p>
          <ul class="browser-default">
            <li>Rallied two other team members</li>
            <li>Built MVP with another software engineer</li>
            <li>Arranged & achieved media exposure: news article & radio segment</li>
            <li>Worked on addressing legality concerns</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m3 s12">
        <h5 class="truncate">Recommendations</h5>
      </div>
      <div class="col m9 s12">
        <h6 class="section-title">Coming soon...</h6>
      </div>
    </div>
  </div>
{% endblock %}